body {
  margin: 0;
}

p {
    line-height: 20px;
}

.body {
  height: 100vh;
  display: grid;

  grid-template-rows: 0.5fr 2fr 0.5fr;
  font-family: "Roboto Mono", monospace; /*шрифт*/

}
.body2 {
  grid-template-columns: 0.5fr 1fr 0.5fr;

  display: grid;
  grid-area: "block2 body3 body4";
}
.body1 {
  text-align: center;
  background-color: bisque;
}
.block2 {
  text-align: center;
  background-color: darkblue;
}

.block3 {
  text-align: center;
  background-color: lightsteelblue;
}
.block4 {
  text-align: center;
  background-color: tan;
}
.block5 {
  text-align: center;
  background-color: lemonchiffon;
  font-size: xx-large;
}
.block6 {
  text-align: center;
  background-color: olive;
}
.body3 {
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
}

.body4 {
  display: grid;
  grid-template-rows: 90% 10%;
}
.body5 {
  text-align: center;
  background-color: bisque;
}
strong {
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
}
